.header-text-color {
    color: #E0E0E0;
}

.text-color {
    color: #E76F51;
}

.client-text-color {
    color: #6C6C6C;
}

.Feature-Bikes-img {
    filter: grayscale(100%);
}

.star-color {
    color: #FFC014;
}
